-- Example 0
3
acbd
bacd
bdca

0
-- Example 1
3
abc
bca
cab

-1
-- Example 2
1
cezdqcw

-1
-- Example 3
14
abcd
abcd
abcd
abcd
abcd
abcd
cbad
cbad
cbad
cbad
cbad
dbca
cbda
cbda

1
-- Example 4
50
abbcbbbaaccaaccbbacbbbaacbccbccacaaacaacaaacbccaac
accbabcaacacbcccbbccbbcaccccccbbcbbcbaccbcbcacbcbc
acacaaabccaaaccabbaaaacabaaabacacbaacbcccbccbcbacb
acbcbabaabbcaababaacbabcacbaccabbaaacccbcabbbcacba
cbbbacbbacccbbabbbcbaabaaaacaacbcbccbaaccbcaaccbcb
cbacbbcbbcbcaaabccabcabbcbacaaabccabbcbacbbacbbaca
cacaabccbbbaaacccacbbcacababbcaaabccbbacbbbccacbaa
bccbbabaaaababcbabbbbcbcacbcbcbacccacacacacacacaab
bccabcaabcabbccaaccbcabaaabbbcaabaaabbbbabbbaabaac
accccbabaaaabcbacabbcbbacaacaaaacccbbbcacaccccaaac
cccbcaababbaacaaabbbaabbccccacaacbacaacbbbaacccbbb
bccccaccbcbbaaaaaaaaccbababcabaaccacbbabbbcabbaaca
cbacacaabbccacaabbbbbbccabcbbaccacbcacacacbccbcbcc
baabcabccaaaaccbaacaaccacccbcbbaaacacaccbcaacbbbba
bccaaaabcbbcbbbbbcaabaacccbccbbcbabacaaccbccaababb
cacbbbbcabbcbaabbccbaccbaacbbcbbbbcabababccabbbcab
bccbcacbccaacacccccaacabacbacbbbcaabacacccbbbccaac
aaaccbbbacacbaaaacacaabbaacccbcccbcabbccbcacabbacb
bcabcbbacbacacbbaaccabcabcbbaabacacccbbbcabbbcaacb
bacbbbbaccbaabbbbbcaccbbcbcabbbccbcacccbabbbcaaacc
bababcacbacacacccccbbcacccbbcbccaccaacbbcacabcabba
aaabaccbbcacaacbabccccabbbcbcccccccbaacbccbaacbbbc
abacbaaaaaccacbbbaccbbbabaacbcbccacccabaaaacbaabbb
cbbcacbaccabbbcaacbcbabbcabcbaccabcbbbcabcbcbaacca
babbacaaacbbcbbbabbaabcbabcbbaacaacbbbaaaabbcabcca
cbabaacabcccaabbbacccaccbacabbaacaaabcbcccbcbcccaa
aabbbcbacabbcabcbcccbccaccbcacbaacabbbccaabaabcbba
caccabcccabbaacbabbaaaccccccccaaccbcaccacaabacccba
bbbcabcababaabacaccacabcbccacccbbbbcbbbaccabcabaab
bbbcaababbbbababababcbbbbaaabbacaabcacbbccbcaaaaaa
bcbacccaaaabbcbcabbbcababbcacaabbbbcbbacbaabcbaccb
bbcaccaaccacbbaaccaaaabccbbacbcbacaacbacbccaaccbba
abaaacbccbbabbcaccbaccccbaaacaccccababcbccccbabcca
acccaccababababacbbaccbcabcaccbabaabacbaacaaacabca
aaabababccabccbcbabcabcacbbcacbcbbbabcabacbcaacacb
ccacbaabbcbaccaccbbabbabbabaacccabcaaccacacccbbcab
bbaabcbabbbaacacabaabcbaaabacbccccaccaaaacbacabbbc
abaaaccaacbbcacacbcbccbaaacbbcbacabbbccabbbccaaaac
bbacbabbcacbbacccaccbcbcabbcbaacabbbbabbaaabaacacb
cacbacbccbcbabacccacabcacacabbcabbccaacacbaaacaacb
bacbbacbccccabcbabcbbcbacacaaabcbaccccaabaabbacbcb
abcaaccccabccaaaaccbabccacbcaaaacaccaccccccaaaabaa
bacabcbccbacccbaaaabcbbaabbabaabcabacccbcabacccbcc
babaccbbcbcbacccabccbcccbaaaaacccabcbccbbbbcbabcbc
cccbbaccbabbbbcbcbcbaaacbbcacbcaacacacccbcabccbcaa
caacbcacbccaaaaacaaababbcccacbabaaabcaacaaababacba
cccccaccabcaacababbacbcbabbcaacbacbabbbccbabcbabbb
ccbcababcabcbcccaccccacabcbaaacaabccbbaabaccbaccab
abbbcacaccabcbccbacabbbccaccaaaacccabbcbacbbccabcb
bacabccabcbbcaacbcacabcbccacbcccbcbcaaaabbaabccabb

12
-- Example 5
5
h
e
l
l
o

0
